.events {
  padding-top: var(--container-padding);
  padding-bottom: 0;
}

.events__title {
  margin-bottom: 16px;
}

.events__list {
  display: flex;
  gap: 50px;
  @media (max-width: 1440px){
    gap: 27px;
  }
  @media (max-width: 992px) {
    gap: 30px;
    flex-direction: column;
  }
  @media (max-width: 480px) {
    gap: 21px;
  }

  .events__list-item {
    flex-basis: 100%;
    @media (max-width: 1440px) {
        max-width: calc((100% - (27px * 2)) / 3);
      }
      @media (max-width: 992px) {
        max-width: 100%;
      }
    }

  .card {
    outline: 1px solid var(--light-gray);
  }

  .card__img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
    }

  .card__descr {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    min-height: 345px;
    padding: 14px 50px 40px 50px;
    @media (max-width: 1440px) {
      padding: 15px 34px 48px 34px;
      min-height: 419px;
      align-items: normal;
    }
    @media (max-width: 992px) {
      padding: 15px 34px 46px 34px;
      min-height: 267px;
    }
    @media (max-width: 480px) {
      padding: 17px 18px 49px 23px;
      min-height: 416px;
    }
  }

  .card__time-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 12px;
    font-size: 12px;
    font-weight: var(--semi-bold);
    line-height: 16px;
    color: var(--gray);
    @media (max-width: 1440px) {
      margin-bottom: 3px;
      align-items: flex-end;
      font-weight: var(--regular);
    }
    @media (max-width: 480px) {
      margin-bottom: 9px;
    }
  }

  .card__descr-title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: var(--semi-bold);
    line-height: 33px;
    @media (max-width: 1440px) {
      margin-bottom: 5px;
    }
    @media (max-width: 992px) {
      margin-bottom: 14px;
    }
    @media (max-width: 480px) {
      margin-bottom: 5px;
    }
  }

  .card__btn {
    margin-top: auto;
    @media (max-width: 480px) {
      margin-left: 6px;
    }
  }

  .card__more {
    position: relative;
    display: inline-block;
    color: var(--purple);
  }

  .card__more::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: var(--purple);
    @media (max-width: 480px)  {
    bottom: -3px;
    }
  }

  .card__more {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }

  a.card__more {
    line-height: 24px;
  }
}

.card__more:focus:not(:active) {
  color: var(--white);
  background-color: var(--purple);
  outline: none;
}

.card__more:focus::after {
  background-color: var(--white);
}

.card__more:active {
  color: var(--bright-black);
}

.card__more:active::after {
  background-color: var(--bright-black);
}

@media (any-hover: hover) {
  .card__more:hover {
    color: var(--purple-dark);
  }
}

@media (max-width: 1440px) {
  .events__title {
    margin-bottom: 18px;
  }
}

@media (max-width: 992px) {
  .events__title {
    margin-bottom: 16px;
  }
}


@media (max-width: 480px) {
  .events {
    padding-top: 50px;
  }

  .events__title {
    margin-bottom: 12px;
  }
}
