.gallery {
  padding-top: var(--container-padding);
  padding-bottom: var(--container-padding);
  background-color: var(--gray);
  background-image: url(../img/bg-gallery-1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.gallery__title {
  margin-bottom: 20px;
  color: var(--white);
}

.gallery__wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.gallery__painting {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 50px;
}

.gallery__radio {
  display: flex;
  flex-direction: column;
}

.gallery__radio-custom {
  color: var(--white);
}

.gallery__radio-custom > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: color 0.3s ease-in-out;
}

.gallery__radio-custom > span {
  display: flex;
  align-items: center;
  user-select: none;
  transition: color 0.3s ease-in-out;
}

.gallery__radio-custom > span::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  transition: border-color 0.3s ease-in-out;
}

.gallery__radio-custom
  > input:not(:disabled):not(:checked)
  + span:hover::before {
  border-color: var(--purple);
}

.gallery__radio-custom > input:not(:disabled):active + span::before {
  border-color: var(--purple);
}

.gallery__radio-custom > input:focus + span::before {
  border-color: var(--purple);
}

.gallery__radio-custom > input:checked + span::before {
  border-color: var(--purple);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23C283F3'/%3e%3c/svg%3e");
}

.gallery__radio-custom > input:checked + span {
  color: var(--purple);
  transition: color 0.3s ease-in-out;
}

.custom-radio > input:disabled + span::before {
  background-color: #c9c9c9;
}

@media (max-width: 1440px) {
  .gallery__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .gallery__radio {
    flex-wrap: wrap;
    column-gap: 20px;
    margin-bottom: 30px;
    max-height: 140px;
  }

  .gallery__painting {
    justify-content: flex-start;
  }

  .gallery__painting-card {
    height: 275px;
  }
}

@media (max-width: 1024px) {
  .gallery {
    background-image: url(../img/bg-gallery-1024.jpg);
  }

  .gallery__title {
    margin-bottom: 16px;
  }

  .gallery__painting {
    gap: 49px;
  }
}

@media (max-width: 768px) {
  .gallery {
    background-image: url(../img/bg-gallery-768.jpg);
  }

  .gallery__painting {
    flex-direction: column;
    gap: 34px;
  }

  .gallery__painting-card {
    min-height: 200px;
  }
}

@media (max-width: 660px) {
  .gallery__radio {
    max-height: 200px;
  }
}

@media (max-width: 480px) {
  .gallery {
    background-image: url(../img/bg-gallery-320.jpg);
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .gallery__title {
    margin-bottom: 12px;
  }

  .gallery__radio {
    margin-bottom: 30px;
    max-height: none;
  }

  .gallery__painting {
    gap: 30px;
  }

  .gallery__painting-card {
    height: 290px;
  }
}
